.kotlin
.idea
*.iml
.gradle
build/
*.apk
*.apks
*.aab
local.properties
Thumbs.db
/captures/
/fastlane/report.xml
/compose-metrics/
.DS_Store
/client_secret_1033587541636-k2pj3e4jcde4e831ar9n9610av1320s9.apps.googleusercontent.com.json
/java_pid15228.hprof
